{% extends "Master/PortalTemplate.html" %}

{% block body %}
{% for block in fsc.webBlocks %}
{% if block.type == 'columns' %}
<div class="{{ block.containerclass }}">
    <div class="{{ block.rowclass }}">
        {% if block.numcolumns == 1 %}
        <div class="col-sm-12">{{ block.column1() | raw }}</div>
        {% elseif block.numcolumns == 2 %}
        <div class="col-sm-6">{{ block.column1() | raw }}</div>
        <div class="col-sm-6">{{ block.column2() | raw }}</div>
        {% elseif block.numcolumns == 3 %}
        <div class="col-sm-4">{{ block.column1() | raw }}</div>
        <div class="col-sm-4">{{ block.column2() | raw }}</div>
        <div class="col-sm-4">{{ block.column3() | raw }}</div>
        {% else %}
        <div class="col-sm-4 col-md-3">{{ block.column1() | raw }}</div>
        <div class="col-sm-4 col-md-3">{{ block.column2() | raw }}</div>
        <div class="col-sm-4 col-md-3">{{ block.column3() | raw }}</div>
        <div class="col-sm-12 col-md-3">{{ block.column4() | raw }}</div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}