<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <title>{{ fsc.webPage.title }}</title>
        <link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    </head>
    <body>
        <header>
            {{ appSettings.get('webportal','webtitle','webportal') }}
        </header>
        <article>
            <h1><{{ fsc.webPage.title }}</h1>
            <p>{{ fsc.webPage.description }}</p>
        </article>
    </body>
</html>