<!doctype html>
<html amp lang="{{ fsc.webPage.langcode }}">
    <head>
        {# Website config #}
        {% set webCopyright = appSettings.get('webportal','copyright','') %}
        {% set webPath = appSettings.get('webportal','path','') %}
        {% set webTitle = appSettings.get('webportal','title','') %}
        {% set webUrl = appSettings.get('webportal','url','') %}
        
        <meta charset="utf-8" />
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <title>{{ fsc.webPage.title }}</title>
        <link rel="canonical" href="{{ webUrl }}{{ fsc.webPage.link() }}" />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    </head>
    <body>
        <header>
            {{ webTitle }}
        </header>
        <article>
            <h1>{{ fsc.webPage.title }}</h1>
            <p>{{ fsc.webPage.description }}</p>
        </article>
    </body>
</html>