{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section">
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    <div class="empty">
                        <div class="empty-icon">
                            <i class="fas fa-search fa-3x" aria-hidden="true"></i>
                        </div>
                        <h1 class="empty-title h5">{{ i18n.trans('page-not-found') }}</h1>
                        <p>{{ i18n.trans('page-not-found-paragraph') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}