{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section">
        <div class="container grid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-header">
                            <h1 class="text-center">
                                <i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i> ChatBot
                            </h1>
                        </div>
                        <div class="panel-body">
                            {% for msg in fsc.messages %}
                                <div class="title">
                                    <div class="title-content">
                                        {% if msg.ischatbot %}<b>ChatBot</b>{% else %}{{ i18n.trans('you') }}{% endif %}:
                                        {{ msg.content }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <form action="{{ fsc.url() }}" method="post">
                                <div class="input-group">
                                    <input name="question" type="text" class="form-input" autofocus="">
                                    <button class="btn btn-primary input-group-btn">{{ i18n.trans('send') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}